.board {
  display:flex;
  flex-direction: column;
}
.cross {
  display: flex;
  flex-direction: row;
}

.field{
  border-color: #f00;
  border-style:solid;
  width: 75px;
  height: 75px;
}

.fieldSelected{
  border-color: #f00;
  border-style:solid;
  width: 75px;
  height: 75px;
}