.board {
  display:flex;
  flex-direction: column;
}
.cross {
  display: flex;
  flex-direction: row;
}

.field{
  border-color: rgb(4, 6, 97);
  border-style:solid;
  width: 75px;
  height: 75px;
  background-color: rgb(126, 199, 241);
}
