
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
.board {
  display:flex;
  flex-direction: column;
}
.cross {
  display: flex;
  flex-direction: row;
}

.field{
  border-color: #253F28;
  border-style:solid;
  width: 4.7rem;
  height: 4.7rem;
  background-color: #6E9C7D;
}

.field:hover{
  background-color: #ff0;
  cursor: pointer;
}

.filed:selection{
  background-color: #ff0;
}

.main{
  display: flex;
  width: 69vw;
}

.left-box{
  width: 30vw;
  height: 100vh;
  background-color: #253F28;
  justify-content: space-between;
  padding: 3rem 0rem;
}

.main-container{
  display: flex;
  align-items: center !important;
}

.options-container{
  background-color: #6E9C7D;
  padding: 1vw;
  width: 24vw;
  border-radius: 1vw;
  align-items:flex-start !important;
  justify-content: left;
  color: white;
}

.options-items{
  align-items:flex-start !important;
  padding-left: 1rem;

}

.main-title{
  font-weight: 900;
  font-size: 3.0rem;
  color: white;
  text-align: center;
  width: 24vw;
  line-height: 4rem;
}

.card-title{
  font-weight: 700;
  font-size: 1.2rem;
}

.options-font{
  size: 1.05rem;
  font-weight: 600;
}

.body{
  background-color: #FCFFFD;
  align-items: flex-start !important;
  font-family: 'Nunito';
  color: #253F28;
}

.initial-text{
  font-weight: 700;
  width: 60vw;
  font-size: 1.2rem;
  text-align: center;
}

.reset-button{
  color: white;
}

.score-title{
  font-weight: 700;
  font-size: 2.5rem;
}

.score-container{
  align-self: flex-start !important;
  align-items: flex-start !important;
  padding-left: 5vw;
}

.score{
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  width: 12vw;
  justify-content: space-between;
}